@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

.signature{
	font-variant: small-caps;
}

[epub|type~="z3998:salutation"]{
	font-style: italic;
}

[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="dedication"] p{
	margin: auto;
	margin-top: 3em;
	max-width: 75%;
	text-align: center;
	text-indent: 0;
}
